/*Lettertypes*/
@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:400,700&display=swap');
@font-face{
	font-family: Anurati;
	src:url('Anurati.otf');
}

/*Geen padding en margin op alle elementen*/
*{
	padding:0;
	margin:0;
}

body{
	/*Lettertype*/
	font-family: 'Saira Semi Condensed',sans-serif;
	/*Lettergrootte*/
	font-size: 1em;
	/*Achtergrond*/
	background-image: url("ag.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/*Padding en border in grootte van box*/
	box-sizing: border-box;
}

header{
	color: white;
	background-color: black;
	padding:20px 0;
}

/*Titel*/
h1{
	font-family: Anurati, sans-serif;
	/*Hoofdletters*/
	text-transform: uppercase;
	/*Letters verder uit elkaar*/
	letter-spacing: 0.2em;
	text-align: center;
	margin: 15px 20px;
}

/*Algemene gegevens tekst*/
header p{
	/*Centreren*/
	width:100%;
	text-align: center;
}

/*Box met grafieken*/
section{
	margin: 20px;
}

/*Grafieken*/
article{
	border-radius: 2em;
	padding: 30px;
	background-color: white;
	/*Voor float knop*/
	overflow:hidden;
}

/*Top en bottom margin*/
article:nth-child(2){
	margin:20px 0;
}

article *{
	margin: 10px 0;
}

h2, h3{
	margin: 0;
}

/*Grafiek chart.js*/
canvas{
	margin-top: 20px;
	/*Grootte van box en geen element.style*/
	width:100% !important;
}

/*Knop*/
a{
	color:white;
	background-color: black;
	/*Geen link opmaak*/
	text-decoration: none;
	padding:5px 10px;
	border-radius: 2em;
	float:right;
}

a:hover{
	background-color: #333333;
}

a:active{
	background-color: #1592E6;
}

/*Grafiek 3 - aankomst*/
/*Box van grafiek*/
article.aankomst div{
	/*Items horizontaal centeren*/
	display: flex;
	align-items: center;
}

/*Aarde, schip, Mars*/
article.aankomst img{
	height: 20px;
	width: 25px;
	display: inline-block;
	border-radius: 50%;
}

/*Aarde*/
article.aankomst img:first-child{
	height: 50px;
	width: 50px;
}

/*Mars (grootte is ongeveer 60% van de aarde)*/
article.aankomst img:last-child{
	height: 30px;
	width: 30px;
	/*Rechts uitlijnen*/
	margin-left: auto;
}

/*Tablet*/
@media only screen and (min-width: 768px){
	section{
		display: grid;
		/*Gelijke kolommen*/
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
		/*2x2 grid*/
		grid-template-areas:
	    'aankomst aankomst'
	    'voedsel atmosfeer';
	    /*Articles niet het hele vak vullen*/
	    align-items: start;
	}

	.voedsel{ 
		grid-area:voedsel;
	}

	.atmosfeer{ 
		grid-area:atmosfeer; 
	}

	.aankomst{
		grid-area:aankomst;
	}

	/*Geen top en bottom margin*/
	article:nth-child(2){
	margin:0;
	}
}

/*Laptop*/
@media only screen and (min-width: 1024px){
	section{
		grid-template-areas:
	    'voedsel aankomst'
	    'voedsel atmosfeer';
	}

	/*Header algemene gegevens tekst naast titel*/
	header p{
		position: absolute;
		/*Verticaal centreren*/
		top:42px;
		right:20px;
		width:auto;
	}
}

/*Groot scherm*/
@media only screen and (min-width: 1440px){
	section{
		/*Articles even groot*/
		align-items: stretch;
		grid-template-columns: 1fr 2fr 2fr;
		/*Grafieken naast elkaar*/
		grid-template-areas:
	    'aankomst voedsel atmosfeer';
	}

	/*Aankomst grafiek 3 verticaal*/
	/*Box grafiek*/
	article.aankomst div{
	height: 60%;
	/*Items verticaal ordenen*/
	flex-direction: column-reverse;
	/*Items horizontaal centeren*/
	align-items: center;
	}

	#schip{
		/*Afbeelding draaien*/
		transform: rotate(270deg);
	}

	/*Mars*/
	article.aankomst img:last-child{
		/*Top uitlijnen*/
		margin-bottom: auto;
		margin-left:unset; 
	}
}