/*Lettertypes*/
@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:400,700&display=swap');
@font-face{
	font-family: Anurati;
	src:url('Anurati.otf');
}

/*Geen padding en margin op alle elementen*/
*{
	padding:0;
	margin:0;
}

body{
	/*lettertype*/
	font-family: 'Saira Semi Condensed',sans-serif;
	/*lettergrote*/
	font-size: 1em;
	/*achtergrond*/
	background-image: url("ag.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/*padding en border in grote van box*/
	box-sizing: border-box;
}

header{
	color: white;
	background-color: black;
	padding:20px 0;
}

/*Titel*/
h1{
	font-family: Anurati, sans-serif;
	/*hoofdletters*/
	text-transform: uppercase;
	/*letters verder uit elkaar*/
	letter-spacing: 0.2em;
	text-align: center;
	margin: 15px 20px;
}

/*Algemene gegevens tekst*/
header p{
	/*centreren*/
	width:100%;
	text-align: center;
}

/*box met grafieken*/
section{
	margin: 20px;
}

/*grafieken*/
article{
	border-radius: 2em;
	padding: 30px;
	background-color: white;
	/*voor float knop*/
	overflow:hidden;
}

/*top en bottom margin*/
article:nth-child(2){
	margin:20px 0;
}

article *{
	margin: 10px 0;
}

h2, h3{
	margin: 0;
}

/*grafiek chart.js*/
canvas{
	margin-top: 20px;
	/*grote van box en geen element.style*/
	width:100% !important;
}

/*knop*/
a{
	color:white;
	background-color: black;
	/*geen link opmaak*/
	text-decoration: none;
	padding:5px 10px;
	border-radius: 2em;
	float:right;
}

a:hover{
	background-color: #333333;
}

a:active{
	background-color: #1592E6;
}

/*Aankomst grafiek 3*/
/*box grafiek*/
article.aankomst div{
	/*items horizontaal centeren*/
	display: flex;
	align-items: center;
}

/*aarde, schip, mars*/
article.aankomst img{
	height: 20px;
	width: 25px;
	display: inline-block;
	border-radius: 50%;
}

/*aarde*/
article.aankomst img:first-child{
	height: 50px;
	width: 50px;
}

/*mars (grote is ongeveer 60% van de aarde)*/
article.aankomst img:last-child{
	height: 30px;
	width: 30px;
	/*rechts uitlijnen*/
	margin-left: auto;
}

/*tablet*/
@media only screen and (min-width: 768px){
	section{
		display: grid;
		/*gelijke kolommen*/
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
		/*2x2 grid*/
		grid-template-areas:
	    'aankomst aankomst'
	    'voedsel atmosfeer';
	    /*articles niet het hele vak vullen*/
	    align-items: start;
	}

	.voedsel{ 
		grid-area:voedsel;
	}

	.atmosfeer{ 
		grid-area:atmosfeer; 
	}

	.aankomst{
		grid-area:aankomst;
	}

	/*geen top en bottom margin*/
	article:nth-child(2){
	margin:0;
	}
}

/*laptop*/
@media only screen and (min-width: 1366px){
	section{
		grid-template-areas:
	    'voedsel aankomst'
	    'voedsel atmosfeer';
	}

	/*header algemene gegevens tekst naast titel*/
	header p{
		position: absolute;
		/*verticaal centreren*/
		top:20%;
		right:2%;
		width:auto;
	}
}

/*groot scherm*/
@media only screen and (min-width: 1440px){
	section{
		/*articles even groot*/
		align-items: stretch;
		grid-template-columns: 2fr 1fr 2fr;
		/*grafieken naast elkaar*/
		grid-template-areas:
	    'aankomst voedsel atmosfeer';
	}

	/*Aankomst grafiek 3*/
	/*box grafiek*/
	article.aankomst div{
	/*items horizontaal centeren*/
	height: 60%;
	flex-direction: column-reverse;
	align-items: center;
	}

	/*positie schip in grafiek*/
	#schip{
		transform: rotate(270deg);
		align-self: center;
	}

	/*mars*/
	article.aankomst img:last-child{
		/*rechts uitlijnen*/
		margin-bottom: auto;
		margin-left:unset; 
	}
}